table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-name {
    text-align: center;
    width: 20%;
}
.mat-column-area {
    text-align: center;
    width: 20%;
}
.mat-column-salary {
    text-align: center;
    width: 20%;
}
.mat-column-experience {
    text-align: center;
    width: 20%;
}
.mat-column-key_skills {
    text-align: center;
    width: 20%;
}
