<p>
Здравствуйте! На этом сайте вы найдете информацию о вакансиях backend разработчик в сфере IT технологий, сможете проследить тенденции запросов на вакансию, роста или снижения заработной платы, спрос вакансий с точки зрения навыков и опыта работы.
</p>
<p>
Обязаности участников команды: <br>
Павел Титов - backend <br>
Андрей Чупеев - frontend <br>
Сергей Чеснков - админитрирование сервера <br>
Александр Фридрих - аналитика <br>
Екатерина Игнатова - дизайн <br>
Александр Кичикова - дизайн <br>
</p>
