.name {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  color: #393F7A;
}
.map-wapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.state {
  fill: #d3d3d3;
  stroke: #a0a0a0;
}
.state:hover {
  stroke: black;
}
