 app-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 18%;
    max-width: 18%;
    height: 100%;
    background-color: #6890DC;
}

