app-vacancy-info {
  overflow: overlay;
  padding: 15px 15px 10px 15px;
  width: 100%;
  animation-name: appearance;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

.review-load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #373737;
  color: #ffffff;
  animation-name: disappear;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
.review-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  animation-name: appearance;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.list-wrapper {
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  overflow-x: hidden;
  background-color: #373737;
  width: 21%;
  &-item {
    list-style: none;
    color: #ffffff;
    font-weight: 200;
    height: 25px;
    line-height: 25px;
    width: 100%;
    display: block;
    text-indent: 10px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-item:hover {
    background-color: #5e5e5e;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.list-wrapper-elseblock {
  margin: 0;
  padding: 0;
  overflow: overlay;
  background-color: #373737;
  width: 21%;
  &-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #5e5e5e;
    animation-name: disappear;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// style of button "Загрузить ещё"
.list-wrapper-button {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  border: none;
  color: white;
  text-align: start;
  text-decoration: none;
  font-size: 12px;
  padding: 0 10px;
}
.list-wrapper-button:hover {
  background-color: #5e5e5e;
  cursor: pointer;
}
@keyframes disappear {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}
@keyframes appearance {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
