<div class="visual-load" *ngIf="condit; else elseblock">Загрузка...</div>
<ng-template #elseblock>
    <div class="visual-wapper">
        <div class="visual-wapper-name">
            <div class="visual-wapper-name-item"><strong>Backend </strong> Work stats</div>
        </div>
        <div class="visual-wapper-infobar-item">
            <div class="visual-wapper-infobar-item-wapper">
                <div class="visual-wapper-infobar-item-main">120,000₽</div>
                <div class="visual-wapper-infobar-item-info">Средняя зп по России</div>
            </div>
        </div>
        <div class="visual-wapper-infobar-item">
            <div class="visual-wapper-infobar-item-wapper">
                <div class="visual-wapper-infobar-item-main">120,000₽</div>
                <div class="visual-wapper-infobar-item-info">Средняя зп по России</div>
            </div>
        </div>
        <div class="visual-wapper-infobar-item">
            <div class="visual-wapper-infobar-item-wapper">
                <div class="visual-wapper-infobar-item-main">120,000₽</div>
                <div class="visual-wapper-infobar-item-info">Средняя зп по России</div>
            </div>
        </div>
        <div class="visual-wapper-infobar-item">
            <div class="visual-wapper-infobar-item-wapper">
                <div class="visual-wapper-infobar-item-main">120,000₽</div>
                <div class="visual-wapper-infobar-item-info">Средняя зп по России</div>
            </div>
        </div>
        <div class="visual-wapper-charts">
            <div class="visual-wapper-charts-item"><app-chart-bar-first></app-chart-bar-first></div>
            <div class="visual-wapper-charts-item"><app-chart-circle></app-chart-circle></div>
            <div class="visual-wapper-charts-item"></div>
            <div class="visual-wapper-charts-item"></div>
        </div>
    </div>
</ng-template>
